<!DOCTYPE html>
<html>
<head>
    <title>Навигатор</title>
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
	<link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.3.930/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.3.930/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.3.930/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.3.930/kendo.aspnetmvc.min.js")"></script>
</head>
<body style="margin:0px;">
    <div>
        @RenderBody()
    </div>
</body>
</html>
